
body {
  background: #000;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 15%;
  width: 600px;
  height: 420px;
  background: none;
}

.head {
  position: absolute;
  left: 26.5%;
  top: 16.5%;
  width: 47%;
  height: 67%;
  border-radius: 50%;
  background: #FEDA01;
}


.head-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #FEDA01;
  overflow: hidden;
  z-index: 2;
}

.left-ear {
  position: absolute;
  left: -20%;
  top: -65%;
  width: 25%;
  height: 100%;
  background: #FEDA01;
  transform: rotate(-35deg);
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.right-ear {
  position: absolute;
  right: -20%;
  top: -65%;
  width: 25%;
  height: 100%;
  background: #FEDA01;
  transform: rotate(35deg);
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.stripe {
  position: absolute;
  width: 100%;
  height: 42%;
  background: #111;
  border-radius: 60%;
}

.left-eye {
  position: absolute;
  top: 32.5%;
  left: 15%;
  width: 17%;
  height: 17%;
  border-radius: 50%;
  background: #111;
  z-index: 3;
}

.pupil-left {
  position: absolute;
  top: 10%;
  right: 15%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: #FFF;
}

.right-eye {
  position: absolute;
  top: 32.5%;
  right: 15%;
  width: 17%;
  height: 17%;
  border-radius: 50%;
  background: #111;
  z-index: 3;
}

.pupil-right {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: #FFF;
}

.nose {
  position: absolute;
  left: 46%;
  top: 48%;
  width: 8%;
  height: 4%;
  background: #111;
  border-radius: 50%;
  z-index: 4;
}

.cheeks-left {
  position: absolute;
  left: -4%;
  bottom: 17%;
  width: 28%;
  height: 28%;
  background: #DE3B5A;
  border-radius: 50%;
}

.cheeks-right {
  position: absolute;
  right: -4%;
  bottom: 17%;
  width: 28%;
  height: 28%;
  background: #DE3B5A;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  bottom: 37%;
  left: 35%;
  width: 30%;
  height: 8%;
  overflow: hidden;
  z-index: 5;
}

.left-lip {
  position: absolute;
  left: 2%;
  width: 50%;
  height: 80%;
  background: #FEDA01;
  border-radius: 50%;
  border-bottom: 4px solid #111;
}

.right-lip {
  position: absolute;
  right: 3%;
  width: 50%;
  height: 80%;
  background: #FEDA01;
  border-radius: 50%;
  border-bottom: 4px solid #111;
}